html{
 overflow-x:hidden;
 overflow-y:scroll;
}
body{
 background-image:url("../images/bgQuiz.avif");
 background-repeat:no-repeat;
 background-size:cover;   
}
.text-heading{
  width:15%;
  height:auto;
  margin:10px;
  text-align:center;
  margin:auto;
  margin-top:4px;
  padding:17px;
  border-radius:50%;
  font-size:23px;
  background-color:orange;
  color:#fff;
}

.responsive-quiz{
  width:50%;
  background-color:mediumpurple;
  margin:auto;
  margin-top:15%;
}

@media (max-width:768px){
  .text-heading{
    width:20%;
  }
  .text-heading-responsive{
    font-size:19px;
  } 
  .responsive-quiz{
    width:100%;
  } 
}